footer{
background-color: black;
}

.textoLogoContenedor{
display: flex;
  align-items: center;
  justify-content: center;
}

.textoLogo{
  margin-bottom: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Smooch', cursive;
  font-size: 4rem;
}

.encabezadoListaFooter{
  font-size: 1.5rem;
  text-decoration: underline;
}

.list-group-item{
  background-color: black;
}
