.imagenLogo{
  width: 100px;
  height: 100px;
}

 header{
   // background-color: #00000a;
   background-color: black;
 }

.nav-link{
font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-right: 10px;
}
